body{
    background-color: rgb(21, 133, 185);
    color:gold ;
    margin: 0px;
}
header{
  border-bottom: solid 2px rgb(53, 5, 180);
  padding: 20px;
  font-size: 32px;
  color: rgb(53, 5, 180); 
}

section{
  background-color: rgb(121, 231, 231);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

}
