body{
    background-color: chartreuse;
    color:gold ;
    margin: 0px;
}
header{
  border-bottom: solid 2px rgb(53, 5, 180);
  padding: 20px;
  font-size: 32px;
  color: rgb(53, 5, 180); 
}

section{
  background-color: orange;
  padding-top: 80px;
  padding-bottom: 80px;
  

}
