body{
    background-color: rgb(21, 133, 185);
    color:gold ;
    margin: 0px;
}
header{
  border-bottom: solid 2px rgb(53, 5, 180);
  padding: 20px;
  font-size: 32px;
  color: rgb(53, 5, 180); 
}

.chamada{
  background-color: rgb(121, 231, 231);
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: center;

}
.chamada-texto{
  margin-right: 5%;
}
h1 {
  font-size: 40px;
}

.categoria-videos {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.categoria {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.categoria-videos img {
  opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover {
  opacity: 1.0;
  border: 3px solid green;
}

.categoria h2 {
  color: rgb(42, 122, 228);
}
